.bar-menu > a {
    text-decoration: none;
    color: #fff;
}

.nav-logo {
    color: #fff;
}

.nav-list > li > a {
    color: #fff;
}


footer {
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 20px;
}

.swiper-container {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    /* background: #042a73;*/
    z-index: -3;
}

.swiper-wrapper {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    z-index: -3;
}

.swiper-slide {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    z-index: -3;
}

.swiper-slide > img {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    z-index: -3;
}

.about {
    width: 100%;
    height: 600px;
    /*background: lightblue;*/
    margin-top: 50px;
}

.about > .aboutBox {
    width: 1200px;
    height: 600px;
    background: #fff;
    margin: 0 auto;
    padding: 0 20px;

}

.about > .aboutBox > .title > p {
    text-align: center;
    color: #042a73;
    font-weight: bold;
    font-size: 20px;
}

.about > .aboutBox > .title > div {
    width: 60px;
    height: 4px;
    border-radius: 2px;
    margin: 10px auto;
    background: #042a73;
}
.about > .aboutBox >.content{
    width: 90%;
    height: 400px;
    /*background: red;*/
    margin: 0 auto;
    padding: 50px 0;
}

.about > .aboutBox >.content>.gong-si-img{
    width: 400px;
    height: 400px;
    border: 1px solid #042a73;
    float: left;
    margin-left: 100px;
}

.about > .aboutBox >.content>.gong-si-introduce{
    width: 400px;
    height: 400px;
    border: 1px solid #042a73;
    float: left;
    margin-left: 100px;
}
.about > .aboutBox >.content>.gong-si-introduce>p{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #042a73;
}

.about > .aboutBox >.content>.gong-si-introduce>div>a{
    display: inline-block;
    width: 100px;
    height: 50px;
    margin: 10px 150px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #ff530f;
}






.range {
    width: 100%;
    height: 600px;
    /*background: lightgreen;*/
    margin-top: 50px;
}

.range > .rangeBox {
    width: 1200px;
    height: 600px;
    background: #fff;
    margin: 0 auto;
    padding: 0 20px;

}

.range > .rangeBox > .title > p {
    text-align: center;
    color: #042a73;
    font-weight: bold;
    font-size: 20px;
}

.range > .rangeBox > .title > div {
    width: 60px;
    height: 4px;
    border-radius: 2px;
    margin: 10px auto;
    background: #042a73;
}
.range > .rangeBox >.content{
    width: 100%;
    height: 500px;
    /*background: red;*/
    margin: 0 auto;
}

.range > .rangeBox >.content>.swiper-container{
    position: absolute;
    overflow: hidden;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    margin-left: 100px;
}
.range > .rangeBox >.content>.swiper-container>.swiper-wrapper{
    width: 1000px;
    height: 300px;
    /*background: yellow;*/
    margin: 0 auto;
    padding-top: 100px;
}
.range > .rangeBox >.content>.swiper-container>.swiper-wrapper>.swiper-slide{
    width: 1000px;
    height: 300px;
    margin: 0 auto;
}
.range > .rangeBox >.content>.swiper-container>.swiper-wrapper>.swiper-slide:nth-child(1)>ul{
    width: 1000px;
    height: 300px;
    /* background: blue;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.range > .rangeBox >.content>.swiper-container>.swiper-wrapper>.swiper-slide:nth-child(1)>ul>li{
    width: 200px;
    height: 200px;
    /*background: pink;*/
    float: left;
    list-style: none;
}
.range > .rangeBox >.content>.swiper-container>.swiper-wrapper>.swiper-slide:nth-child(1)>ul>li>img{
    width: 200px;
    height: 150px;
    /*background: purple;*/
}
.range > .rangeBox >.content>.swiper-container>.swiper-wrapper>.swiper-slide:nth-child(1)>ul>li>span{
    width: 200px;
    height: 19.2px;
    /*background: yellow;*/
    display: inline-block;
    text-align: center;
    color: #666666;
    font-size: 14px;
    line-height: 50px;
}



.range > .rangeBox >.content>.swiper-container>.swiper-wrapper>.swiper-slide:nth-child(2)>ul{
    width: 1000px;
    height: 300px;
    /* background: blue;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    list-style: none;
}
.range > .rangeBox >.content>.swiper-container>.swiper-wrapper>.swiper-slide:nth-child(2)>ul>li{
    width: 200px;
    height: 200px;
    /*background: pink;*/
    float: left;
    list-style: none;
}
.range > .rangeBox >.content>.swiper-container>.swiper-wrapper>.swiper-slide:nth-child(2)>ul>li>img{
    width: 200px;
    height: 150px;
    /*background: purple;*/
}
.range > .rangeBox >.content>.swiper-container>.swiper-wrapper>.swiper-slide:nth-child(2)>ul>li>span{
    width: 200px;
    height: 19.2px;
    /*background: yellow;*/
    display: inline-block;
    text-align: center;
    color: #666666;
    font-size: 14px;
    line-height: 50px;
}


.range > .rangeBox >.content>.swiper-container>.swiper-pagination{
    position: relative;
}
.range > .rangeBox >.content>.swiper-container>.swiper-button-prev{
    float: left;
    left: 5px;
}
.range > .rangeBox >.content>.swiper-container>.swiper-button-next{
    float: right;
    right: 5px;
}












.news {
    width: 100%;
    height: 600px;
    /*background: lightblue;*/
    margin-top: 50px;
}

.news > .newsBox {
    width: 1200px;
    height: 600px;
    background: #fff;
    margin: 0 auto;
    padding: 0 20px;

}

.news > .newsBox > .title > p {
    text-align: center;
    color: #042a73;
    font-weight: bold;
    font-size: 20px;
}

.news > .newsBox > .title > div {
    width: 60px;
    height: 4px;
    border-radius: 2px;
    margin: 10px auto;
    background: #042a73;
}

.news > .newsBox >.content{
    width: 100%;
    height: 500px;
    /*background: red;*/
    margin: 0 auto;
}

.news > .newsBox >.content>.news-content{
    width: 450px;
    height: 300px;
    background: pink;
    float: left;
    margin-left: 100px;
    margin-top: 100px;
    padding-top: 20px;
}
.news > .newsBox >.content>.news-content>p:nth-child(1){
    text-align: center;
    font-size: 17px;
    color: #042a73;
    font-weight: bold;
}
.news > .newsBox >.content>.news-content>p:nth-child(2){
    float: right;
    font-size: 12px;
    color: #042a73;
}
.news > .newsBox >.content>.news-content>p:nth-child(4){
    font-size: 13px;
    color: #666666;
}
.news > .newsBox >.content>.news-content>span{
    font-size: 14px;
    color: black;
}