<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../public/css/About.css">
</head>
<body>
<!--开始背景图-->
<div id="back"></div>
<!--公司简介-->
<div id="aboutWord">公司简介</div>
<div id="about">
    <div id="WordsBox">
        <h2>关于我们</h2>  <span id="words">SAFE AND AUALITY</span>
        <p>
            XXXXXXXXXXXXX有限公司成立于2003年成立起，即秉承着
            诚信、专业、领先的宗旨，竭诚为广大顾客提供最好最完善的XXXXXX服务。<br>
            主要XXXXXXX，XXXXXXXXXXXXXXXXXXXXXXXXXXX。
            为了更好的满足于广大客户的需求, 我司于XXXXXXXX正式引进先进的 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            XXXXXXXXXXXXX
            XXXXXXXXXXXX。
        </p>
        <span class="purpose"><strong>XXXXXXXXXXXXXXXXXXXXXXX</strong></span>
    </div>
    <div id="photo"></div>
</div>
<!--优秀员工-->
<div id="outstanding">优秀员工</div>
<div id="staff">
    <div><img src="" alt=""></div>
    <div><img src="" alt=""></div>
    <div><img src="" alt=""></div>
</div>
<!--管理-->
<div id="manage">
    <div id="manageWords">管理体系</div>
        <p>
            我们依靠全体员工的共同努力来创造高效，安全和卓越素质的产品和服务，我们需要成为一个以满足客户需求、以质量为根本为首要任务的和谐团体。我们必须尊重同事和商</br>
            机，我们也重视沟通，善于听取别人的意见，正如要求别人尊重我们一样，正如希望别人能接受我们的意见、批评和求助一样，所以，公司的每一位员工都是在相互</br>
            尊重、相互交流中成长。以质量赢信誉，以质量谋发展；以质量为根本，以质量求生存；减尘降噪、节能降耗；诚信守法，绿色环境。
        </p>
        <p><strong>站在客户的角度考虑问题，以客户利益最大化为目标</strong></p>

    <div id="managePhoto">
        <div id="FigureOne"><img src="http://26690590.s21i.faiusr.com/4/ABUIABAEGAAg_7bFiwYo5rrMlwUw1gI41gI!200x200.png.webp" alt="">
            <span>高新技术企业</span>

        </div>
        <div id="FigureTwo"><img src="http://26690590.s21i.faiusr.com/4/ABUIABAEGAAg_rbFiwYoqNC0GTDaAjjaAg!200x200.png.webp" alt="">
            <span>创新型企业</span>

        </div>
        <div id="FigureThree"><img src="http://26690590.s21i.faiusr.com/4/ABUIABAEGAAg_7bFiwYozv2T0gQw2QI41wI!200x200.png.webp" alt="">
            <span>科技小巨人企业</span>

        </div>
        <div id="FigureFour"><img src="http://26690590.s21i.faiusr.com/4/ABUIABAEGAAg_rbFiwYo5IWw9QIw3AI41gI!200x200.png.webp" alt="">
            <span>全国专业化标准</span>

        </div>
    </div>
</div>

<!--企业文化-->
<div id="corporateCulture">企业文化</div>
<div id="CulturePhoto">
    <div id="CulturePhotos">
        <div id="A"><img src="http://oyqj-0923-15.demo.cssmoban.com:8020/statics/images/20170104044832398.jpg" alt="">
        </div>
        <div id="B"><img src="http://oyqj-0923-15.demo.cssmoban.com:8020/statics/images/20170104044904479.jpg" alt="">
        </div>
        <div id="C"><img src="http://oyqj-0923-15.demo.cssmoban.com:8020/statics/images/20170104044931473.jpg" alt="">
        </div>
        <div id="D"><img src="http://oyqj-0923-15.demo.cssmoban.com:8020/statics/images/20170104044951290.jpg" alt="">
        </div>
    </div>
    <div id="CultureWords">
        <p>
            XXXXXXXXXXXXX有限公司成立于2003年成立起，即秉承着
            诚信、专业、领先的宗旨，竭诚为广大顾客提供最好最完善的XXXXXX服务。<br>
            主要XXXXXXX，XXXXXXXXXXXXXXXXXXXXXXXXXXX。
            为了更好的满足于广大客户的需求, 我司于XXXXXXXX正式引进先进的 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            XXXXXXXXXXXXX
            XXXXXXXXXXXX。
        </p>
        <p>
            XXXXXXXXXXXXX有限公司成立于2003年成立起，即秉承着
            诚信、专业、领先的宗旨，竭诚为广大顾客提供最好最完善的XXXXXX服务。<br>
            主要XXXXXXX，XXXXXXXXXXXXXXXXXXXXXXXXXXX。
            为了更好的满足于广大客户的需求, 我司于XXXXXXXX正式引进先进的 XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            XXXXXXXXXXXXX
            XXXXXXXXXXXX。
        </p>
        <p>
            XXXXXXXXXXXXX有限公司成立于2003年成立起，即秉承着
            诚信、专业、领先的宗旨，竭诚为广大顾客提供最好最完善的XXXXXX服务。<br>

        </p>
    </div>
</div>



<div id="purpose">
    <div id="purposes">
        <p><b>企业宗旨</b></p>
        <a>
            用严格的管理、优质的设备和技术，为用户生产品种齐全的优质产品，以诚信取信于市场！ 全体员工向广大用户朋友</br>
            致谢，欢迎国内外朋友前来洽谈合作。
        </a>
    </div>
</div>
</body>
</html>