<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>结汇</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="../public/css/Exchange.css">
</head>
<body>
<div id="nav"></div>
<div id="swiper"></div>
<div id="ExchangeTop">
    <div id="ExchangeTopLeft">
        <h1>COMPANY PROFILE</h1>
        <br>
        <br>
        <h2>公司简介</h2>
        <br>
        <br>
        <br>
        <br>
        <span>集团注册资本xx亿元，总资产规模xx亿元，下属全资、控股企业xx家。集团在发展过程中经历了城市化建设、多元化发展、集团化运营、战略化布局等四个历史阶段，公司业务包括投资管理、股权投资和金融服务等；公司正在逐步布局全国，致力于为投资人和我们所投的项目，创造积极的经济影响和有价值的回报。</span>
    </div>
    <div id="ExchangeTopRight">
        <img src="" alt="">
    </div>
    <div id="ExchangeTopUnder">

    </div>
</div>
<p style="font-size: 36px ; text-align: center">RISK WARNING</p>
<br>
<br>
<p style="text-align: center;font-size: 16px">风险提示</p>
<br>
<div id="ExchangeUnder">
    <div id="UnderContant">
        <div id="Img1">
            <img src="" alt="">
        </div>
        <div id="Img2">
            <br>
            <br>
            <h2>11111</h2>
            <br>
            <br>
            <span>XX商品交易中心成立于2015年12月25日，注册X亿元人民币。作为广东省招商引资金融项目和省级政府监管指导的大宗食品交易机构，交易中心具有区位优势明显、交易模式多元融合等独特优势。</span>
        </div>
        <div id="Img3">
            <img src="" alt="">
        </div>
        <div id="Img4">
            <br>
            <br>
            <h2>11111</h2>
            <br>
            <br>
            <span>XX商品交易中心成立于2015年12月25日，注册X亿元人民币。作为广东省招商引资金融项目和省级政府监管指导的大宗食品交易机构，交易中心具有区位优势明显、交易模式多元融合等独特优势。</span>
        </div>
        <div id="Img5">
            <img src="" alt="">
        </div>
        <div id="Img6">
            <br>
            <br>
            <h2>11111</h2>
            <br>
            <br>
            <span>XX商品交易中心成立于2015年12月25日，注册X亿元人民币。作为广东省招商引资金融项目和省级政府监管指导的大宗食品交易机构，交易中心具有区位优势明显、交易模式多元融合等独特优势。</span>
        </div>
    </div>
</div>
<div id="footer">
    <p>外贸综合服务</p>
</div>
<div id="goBack">
    <img src="../public/img/返回顶部.png" alt="" style="height: 78px;width: 78px">
</div>
</body>
</html>
<script>
    var topBtn = document.getElementById('goBack');
    // 获取视窗高度
    var winHeight = document.documentElement.clientHeight;
    window.onscroll = function () {
        // 获取页面向上滚动距离，chrome浏览器识别document.body.scrollTop，而火狐识别document.documentElement.scrollTop，这里做了兼容处理
        var toTop = document.documentElement.scrollTop || document.body.scrollTop;
        // 如果滚动超过一屏，返回顶部按钮出现，反之隐藏
        if (toTop >= winHeight - 800) {
            topBtn.style.display = 'block';
        } else {
            topBtn.style.display = 'none';
        }
    }
    topBtn.onclick = function () {
        var timer = setInterval(function () {
            var toTop = document.documentElement.scrollTop || document.body.scrollTop;
            // 判断是否到达顶部，到达顶部停止滚动，没到达顶部继续滚动
            if (toTop == 0) {
                clearInterval(timer);
            } else {
                // 设置滚动速度
                var speed = Math.ceil(toTop / 8);
                // 页面向上滚动
                document.documentElement.scrollTop = document.body.scrollTop = toTop - speed;
            }
        }, 20);
    }
</script>